.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1.25rem;
  font-size: 0.9rem;
  background: var(--color-primary-300);
  color: var(--color-text-dark-bg);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: border-radius var(--card-border-radius-time) ease-in-out;
}

.sticky {
  border-radius: 0;
}

@media (max-width: 400px) {
  .main {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}

.left {
  display: flex;
  gap: 0.5rem;
}