.header {
  width: 100%;
  --bottom-overlap: 3rem;
  margin-bottom: calc(var(--bottom-overlap) * -1);
  position: relative;
  z-index: 0;
}

@media (max-width: 550px) {
  .header {
    --bottom-overlap: 0.75rem;
  }
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  pointer-events: none;
}

.name {
  font-size: 48pt;
  font-weight: 500;
  text-shadow: 2px 2px 2px #555;
  text-align: center; /* necessary for mobile */
  padding-left: 0.438rem; /* adjust for J in Jared Meadows overflowing */
}

.title {
  font-size: 14pt;
  font-weight: 700;
  text-align: center; /* necessary for mobile */
  text-wrap: balance; /* necessary for mobile */
}

.me {
  border: 10px solid var(--color-surface-250);
  border-radius: 50%;
  height: 220px;
  width: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.background {
  position: absolute;
  inset: 0 0 var(--bottom-overlap) 0;
  display: flex;
  pointer-events: auto;
}
