@import "../../app/globals";

.title {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.jobs {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

@media (max-width: $breakpoint-medium) {
  .title {
    padding-bottom: 3rem;
  }
}
