.greeting {
  font:
    500 2rem Baloo Chettan,
    serif;
  padding: 1rem 1rem 0 1rem;
}

.description {
  font:
    1.3rem "Tajawal Light",
    serif;
  padding: 0;
  margin: 1rem;
  gap: 0;
  background-color: rgba(var(--call-out-rgb), 0.5);
  border: 1px solid rgba(var(--call-out-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.description a {
  display: inline-block;
  color: var(--color-primary-300);
  text-decoration: underline;
}

.twist {
  color: #1df38c;
  animation: twist-text 4s infinite ease-in-out alternate;
  transform-origin: center;
  display: inline-block;
}

@keyframes twist-text {
  0%,
  50% {
    transform: rotate(0deg);
    color: #1df38c;
  }
  75%,
  100% {
    transform: rotate(360deg);
    color: #f4b400;
  }
}

.delightfulText {
  span {
    display: inline-block;
    animation: wave 1s infinite alternate;
    animation-delay: calc(var(--i) * 0.1s);
    color: lightgreen;
  }

  // Get the number of child elements of the string
  @for $i from 1 through str-length("delight visually") {
    span:nth-child(#{$i}) {
      // Example: assigning a CSS variable to each span
      --i: #{$i};
    }
  }
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: translateY(0px);
  }

  30% {
    transform: translateY(-10px);
  }
}

@media (prefers-reduced-motion) {
  .delightfulText span {
    animation: none;
  }

  .twist {
    animation: none;
  }
}
