$delightful-green: #1df38c;
$twisted-orange: #f4b400;

.greeting {
  font-size: 2rem;
  padding: 1rem 1rem 0 1rem;
}

.description {
  font-size: 1.3rem;
  padding: 0;
  margin: 1rem;
  gap: 0;
  background-color: rgba(var(--call-out-rgb), 0.5);
  border: 1px solid rgba(var(--call-out-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.description a {
  display: inline-block;
  color: var(--color-primary-400);
  text-decoration: underline;
}

.twist {
  color: $delightful-green;
  animation: twist-text 4s infinite ease-in-out alternate;
  transform-origin: center;
  display: inline-block;
}

.nowrap {
  text-wrap: nowrap;
}

@keyframes twist-text {
  0%,
  50% {
    transform: rotate(0deg);
    color: $delightful-green;
  }
  75%,
  100% {
    transform: rotate(360deg);
    color: $twisted-orange;
  }
}

.delightfulText {
  > .nowrap > span {
    display: inline-block;
    animation: wave 1s infinite alternate;
    animation-delay: calc(var(--i) * 0.1s);
    color: $delightful-green;
  }

  // Initialize a variable to keep count of spans
  $spanCount: 0; // Get the number of child elements of the string

  @for $i from 1 through str-length("delight ") {
    > .nowrap:first-child > span:nth-child(#{$i}) {
      // assign a CSS variable to each span to use for the delay
      --i: #{$spanCount};
      $spanCount: $spanCount + 1;
    }
  }
  @for $i from 1 through str-length("visually") {
    > .nowrap:last-child > span:nth-child(#{$i}) {
      // assign a CSS variable to each span to use for the delay
      --i: #{$spanCount};
      $spanCount: $spanCount + 1;
    }
  }
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: translateY(0px);
  }

  30% {
    transform: translateY(-10px);
  }
}

@media (prefers-reduced-motion) {
  .delightfulText span {
    animation: none;
  }

  .twist {
    animation: none;
  }
}
