:root {
  --border-radius: 1rem;
  --button-border-radius: 0.3rem;
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #007bff;
  --color-primary-200: #4a88ff;
  --color-primary-300: #6b96ff;
  --color-primary-400: #85a4ff;
  --color-primary-500: #9cb3ff;
  --color-primary-600: #b2c1ff;
  --color-primary-700: #c8d0ff;
  --color-primary-800: #dfe0ff;
  --color-primary-900: #f5eeff;
  --color-primary-1000: #ffffff;
  --color-text-dark-bg: #ffffff;
  --color-text-light-bg: #000000;

  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #000000;
  --color-surface-200: #1e1e1e;
  --color-surface-300: #353535;
  --color-surface-400: #4e4e4e;
  --color-surface-500: #696969;
  --color-surface-600: #858585;

  /** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #1f3d77;
  --color-surface-mixed-200: #3c5086;
  --color-surface-mixed-300: #546394;
  --color-surface-mixed-400: #6c78a3;
  --color-surface-mixed-500: #848db2;
  --color-surface-mixed-600: #9ca3c1;

  /** CSS DARK THEME PRIMARY COLORS */ 
  --color-accent-100:  #ffff00;
  --color-accent-200:  #ffff42;
  --color-accent-300:  #ffff61;
  --color-accent-400:  #ffff7b;
  --color-accent-500:  #ffff93;
  --color-accent-600:  #ffffa9;

  /** CSS DARK THEME MIXED SURFACE COLORS */ 
  --color-accent-surface-mixed-100:  #78771b;
  --color-accent-surface-mixed-200:  #878536;
  --color-accent-surface-mixed-300:  #97934f;
  --color-accent-surface-mixed-400:  #a6a267;
  --color-accent-surface-mixed-500:  #b5b17f;
  --color-accent-surface-mixed-600:  #c4c098;

  --max-width: 1100px;
  --font-mono: 'Tajawal',sans-serif;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'Tajawal';
  src: url('/resume/assets/font/Tajawal/Tajawal-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal Light';
  src: url('/resume/assets/font/Tajawal/Tajawal-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo Chettan';
  src: url('/resume/assets/font/BalooChettan/BalooChettan2-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
