.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  margin: 3.5rem 0;
  flex-grow: 1;
  background: var(--color-surface-250);
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 5px var(--color-surface-600);
  --card-border-radius-time: 0.2s;
  transition: border-radius var(--card-border-radius-time) ease-in-out;
}

.stickyTitleBar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.body {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  gap: 5rem;
  z-index: 0;
  padding: 2rem 5rem;
}

@media (max-width: 800px) {
  .card {
    border-radius: unset;
    margin: auto 0;
    border-radius: 0;
  }
  .body {
    padding: 2rem 3rem 2rem 1.25rem;
  }
}

@media (max-width: 267px) {
  .body {
    padding: 2rem 1.25rem 2rem 1.25rem;
  }
}
